# 全てのファイルを無視
*

# .js, .html, .css, .md, .png, .jpg, .gif, .mp4, .gitignoreを除外
!/
!/.gitignore
!**/*.md
!**/*.py
!**/*.pyc
!**/*.txt
!/python_ubuntu2
!./python_ubuntu2/stage_main
!./python_ubuntu2/practice
!./python_ubuntu2/cash
!**/__pycache__